* { font-family: sans }
html { background-color: #DEFFCD; }
pre {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  overflow: scroll;
  color: #eee;
}
code, code *, pre, pre * { 
  font-family: monospace; 
  font-size: 106% !important;
  line-height: 1.1em;
}

h1 code,  p code, li code{ 
  background-color: #eee;
  padding: 3px;
  margin: 3px;
  line-height: 1.7em;
  border: #aaa 1px solid;
  border-radius: 3px;
  overflow: scroll;
}

blockquote {
  background-color: #eee;
  color: #333;
  padding: 1em;
  margin: 1em;
  width: 80%;
  border-left: 2px solid #333;
}

#sidebar {
  height: 100%;
  background: rgb(188,255,0);
  /* RGBa with 0.6 opacity */
  background: rgba(188,255,0, 0.6);
  width: 120px;
  position: fixed;
  top: 0;
  left: 0;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar ul li a {
  display: block;
  padding: .5em;
  color: #fff;
  /* RGBa with 0.6 opacity */
  background: rgba(0,0,0,0.6);
}

#sidebar ul li a:hover { background: rgba(0,50,0,0.6); }

.img-links {} 
.img-links a { 
  float: left;
  background: rgba(0,0,0,0.6);
}
.img-links a:hover { 
  background: rgba(0,50,0,0.6);
}

#main, #footer {
  padding-left: 130px;
  width: 900px;
}

.post-summary {
  background: rgba(20,20,20,0.2);
  margin: 1em;
  padding: 1em;
  border-radius: 7px;
}


a {
  color: #333;
  text-decoration: underline;
}

a:visited {
  color: #444;
}

a:hover {
  color: #444;
  text-decoration: none;
}


p.tags a:visited, p.tags a { 
  color: #333;
  background: rgba(20,20,20,0.2);
  text-decoration: none;
  border-radius: 7px;
  border: 1px solid black;
  padding: 2px;
}

p.tags a:hover { 
  color: #ccc;
  background: rgba(90,90,90,0.6);
}

