html { 
  background: url('/images/bg.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

h3 {text-align: left;}

#some-text-yo {
  font-family: sans-serif;
  margin: 1em; 
  padding: 1em;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(188,255,0);
  /* RGBa with 0.6 opacity */
  background: rgba(188,255,0, 0.6);
  color: #3b3f81;
  position: absolute;
  right: 10%;
  width: 200px;
}

.img-links { text-align: center; }

#portrait {
  background: url('/images/me.jpeg') no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

a {color: #4400ff;}
a:hover,a:visited {color: #bcff00;}

