html { background-color: #ffffff; }

#main { padding-top: 30px; }
#main, #footer, #menu {
  margin: 0 auto;
  width: 900px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
}

.padded {
  padding-left: 20px;
}

pre {
  margin: 5px;
  padding: 5px;
  border-radius: 3px; overflow: scroll;
  color: #eee;
  background-color: #3F3F3F;
}

code, code *, pre, pre * { 
  font-family: monospace; 
  font-size: 106% !important;
  line-height: 1.1em;
}

h1 code,  p code, li code{ 
  background-color: #eee;
  padding: 3px;
  margin: 3px;
  line-height: 1.7em;
  border: #aaa 1px solid;
  border-radius: 3px;
  overflow: scroll;
}

blockquote {
  background-color: #eee;
  color: #333;
  padding: 1em;
  margin: 1em;
  width: 80%;
  border-left: 2px solid #333;
}

#menu-wrapper {
  background: #000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#menu ul {
  font-family: 'Bree Serif', serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline;
  margin-left: 1em;
}

#menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

#menu ul li a:hover { 
  text-decoration: overline;
}

.text-links {
  padding-top: 5px;
  float: left;
}

.img-links  { 
  float: right;
}

.img-links img { 
  height: 45px;
}


.img-links a { 
  float: left;
  background: rgba(0,0,0,0.6);
}

.img-links a:hover { 
  background: rgba(50,50,50,0.6);
}


.post-summary {
  padding-left: 20px;
  padding-bottom: 20px;
}


a {
  color: #333;
  text-decoration: underline;
}

a:visited {
  color: #444;
}

a:hover {
  color: #444;
  text-decoration: none;
}


p.tags a:visited, p.tags a { 
  color: #333;
  background: rgba(20,20,20,0.2);
  text-decoration: none;
  border-radius: 7px;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}

p.tags a:hover { 
  color: #ccc;
  background: rgba(90,90,90,0.6);
}

#results ul{
  list-style: none;
  padding-left: 0;
}

#search {
  width: 100%;
  font-size; 110%;
  height: 2em;
  padding: .5em;

}
