---
title: Blog Post Tags
---

<ul>
  <% TagHelper.sorted_tags(@items).each do |arg| %>
    <% tag   = arg[0]   %>
    <% posts = arg[1] %>
    <li><a href="/tags/<%= tag.gsub(' ','_') %>"><%= tag %></a> (<%= posts.count %>)</li>
  <% end %>
</ul>


