---
title: Blog Post Tags
---

<h1>Blog Post Tags</h1>

<% blog_post_tags_hash(@items).sort.each do |arg| %>
  <% tag = arg[0]   %>
  <% posts = arg[1] %>

  <h2><%= tag.capitalize %></h2>
  <ul>
    <% posts.each do |post| %>
      <li><a href="<%= post.path %>"><%= post[:title] %></a></li>
    <% end %>
  </ul>
<% end %>


