<title><%= item[:title] %></title>
<link type='text/css' href='/style.css' rel='stylesheet'/>
<link rel="stylesheet" href="/css/zenburn.css">
<meta property="og:title" content="<%= item[:title] %>" />
<meta property="og:url" content="http://www.gabekoss.com<%= item.path %>" />
<meta property="og:type" content="website" />
<meta property="og:description" content="<%= item[:summary] %>" />
<meta property="og:image" content="http://www.gabekoss.com/images/og.png" />
<% unless item[:no_code_color] %>
  <script src="/js/highlight-pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
<% end %>
<!--                                                                                              -->
<!--       ___ ___         .__  .__           ___________      .__                   .___._.      -->
<!--      /   |   \   ____ |  | |  |   ____   \_   _____/______|__| ____   ____    __| _/| |      -->
<!--     /    ~    \_/ __ \|  | |  |  /  _ \   |    __) \_  __ \  |/ __ \ /    \  / __ | | |      -->
<!--     \    Y    /\  ___/|  |_|  |_(  <_> )  |     \   |  | \/  \  ___/|   |  \/ /_/ |  \|      -->
<!--      \___|_  /  \___  >____/____/\____/   \___  /   |__|  |__|\___  >___|  /\____ |  __      -->
<!--            \/       \/                        \/                  \/     \/      \/  \/      -->
<!--                                                                                              -->
<!--                                                                                              -->
<!--     My sweet site was generated using love, ruby & nanoc [http://nanoc.ws/]                  -->
<!--                                                                                              -->
<!--                                                                                              -->
<!--     "Anytime I see something screech across a room and latch onto someones neck,             -->
<!--     and the guy screams and tries to get it off, I have to laugh,                            -->
<!--     because what is that thing?"                                                             -->
<!--                                                                                              -->
<!--                           - Jack Handy                                                       -->
<!--                                                                                              -->
