<div id="menu">
  <div class="text-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/tags">Search</a></li>
    </ul>
  </div>

  <div class="img-links">
    <a href="https://github.com/granolocks"><img src="/images/github.png"></a>
    <a href="https://instagram.com/granolocks"><img src="/images/instagram.png"></a>
    <a href="https://twitter.com/granolocks"><img src="/images/twitter.png"></a>
  </div>
</div>
