<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/tags">Search</a></li>
</ul>
<div class="img-links">
  <a href="https://github.com/granolocks"><img src="/images/github.png"></a>
  <a href="https://twitter.com/granolocks"><img src="/images/twitter.png"></a>
  <div style="clear:both"></div>
</div>
