<!doctype html>
<html>
  <head>
    <title><%= item[:title] %></title>
    <link type='text/css' href='/style.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/css/zenburn.css">
    <script src="/js/highlight-pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <div id="sidebar">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/notes">Notes</a>
        </li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
      <div id="footer">
        <hr/>
        <p>&copy; <%= Time.now.year %> <a href="mailto:gabe@gabekoss.com">Gabe Koss</a></p>
        <p><small>Last updated at: <%= item[:updated_at] || Time.now.strftime("%Y-%m-%d %H:%M") %><small></p>
      </div>
    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12795044-1']);
      _gaq.push(['_setDomainName', 'gabekoss.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
   </body>
 </html>

