<!doctype html>
<html>
  <head>
    <%= render '_head', item: item %>
  </head>
  <body>
    <div id="sidebar">
      <%= render '_sidebar', item: item %>
    </div>
    <div id="main">
      <% if item[:kind] == 'blog-post' %>
        <p><small><a href='/blog'>Back to Blog</a></small></p>
        <h1><%= item[:title] %></h1>
        <p><em>Post created <%= item[:created_at] %> by <%= item[:author] || "Gabe Koss" %>.<br/></em></p>
        <%= yield %>
        <%= render '_disqus' %>
      <% else %>
        <h1><%= item[:title] %></h1>
        <%= yield %>
      <% end %>
    </div>
    <div id="footer">
      <%= render '_footer', item: item %>
    </div>
    <%= render "ga_script" %>
  </body>
</html>

