<!doctype html>
<html>
  <head>
    <%= render '_head', item: item %>
  </head>
  <body>
    <div id="menu-wrapper">
      <%= render '_menu', item: item %>
    </div>
    <div id="main">
      <% if item[:kind] == 'blog-post' %>
      <% prev_post = Post.previous_for(item,@items) %>
      <% next_post = Post.next_for(item,@items) %>
        <p>
          <small>
            <% if prev_post %>
              <a href='<%= prev_post.path %>' title='<%= prev_post[:title] %>'>&#8656; Previous</a>
            <% end %>
            <%= (prev_post && next_post) ? " | " : " " %>
            <% if next_post %>
              <a href='<%= next_post.path %>' title='<%= next_post[:title] %>'>Next &#8658;</a>
            <% end %>
          </small> 
        </p>
        <h1><%= item[:title] %></h1>
        <p><em>Post created <%= item[:created_at] %> by <%= item[:author] || "Gabe Koss" %>.<br/></em></p>
        <%= yield %>
        <%= render '_disqus' %>
      <% else %>
        <h1 class='padded'><%= item[:title] %></h1>
        <%= yield %>
      <% end %>
    </div>
    <div id="footer">
      <%= render '_footer', item: item %>
    </div>
  </body>
  <% if item.identifier == '/' %>
    <script src='/js/blog-scroll.js'></script>
  <% end %> 
  <%= render 'ga_script' %>
</html>

