<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1;url=<%=item[:redirect_path] %>">
    <script type="text/javascript">
      window.location.href = "<%=item[:redirect_path] %>"
    </script>
    <title>Page has Moved</title>
  </head>
  <body>
    <h1>It's Dangerous to go alone!</h1>
    <a href='<%=item[:redirect_path] %>'>
      <h2>Take This!</h2>
      <pre style="font-size: xx-small; line-height: .7em">
                                                                  ..
                                                              `....,
                                                            ......,,
                                                          `....``.,,
                                                         ......``.:.
                                                        .........,: 
                                                       ....`..``.,: 
                                                      ....``````.:: 
                                                     ...```````.::` 
                                                    ...````````,::  
                                                   ...````````,::`  
                                                  ...````````,::    
                                                 ...``  ` ``,::`    
                                                ...``    ``,::`     
                                               ...``   ```,::.      
                                              ...``   ```,::.       
                                             ...`     ``,::.        
                                            ...`   ````,::.         
                                           ...````````,::.          
                                          ...````````,::.           
                                         ...````````,::,            
                                        ...```````.,::,             
                                       ...``.````.,::,              
                                      ...``..````,::,               
                                     ...````````,::,                
                                    ...````````,::,                 
                                   ...````````,::,                  
                                  ...````````,::,                   
                                 .``````````.::,                    
                                `.````````.,::,                     
                                ..`````...,:::                      
            ::`                 ``````...,:::                       
             :;;               .`````...`,::                        
             :;;:.            .``````````,:                         
             ,;;;;:          .```````````,                          
             `;;;;;:        .```````````.                           
              ;;;;;:       .```````.....                            
              ;;;;;`      ..``````..,..                             
              ;;;';      ...`````..:                                
              ;';',     ......``.,,                                 
              ;';;     ..,;;,``..:                                  
              ;';;  :;,.;;:;,``.:                                   
             `;;;:;;;';;,.,;.`.:                                    
             .;;;;;;;';,.,,;..,                                     
                ,:;;;;;.,:;...                                      
                  ;;;;.,:';,,                                       
                ,;;;;',;'';:                                        
                :;;;;''''';;                                        
                ::;;''''';''                                        
                ;:;;'''''''`   :;:                                  
                ;;;'''';'';  .;;;;;                                 
               ;:;''''; ;;;;;;;';;;:                                
              ::;;';'': ,;;;;;;;;;;;                                
             :::;:       :;;;;'';;;;:                               
            ;,;;'        :;;::::;;::;                               
           :::;;         .`     `::;:,                              
          :::;'                     ..                              
        `::;;;                                                      
     ::;;;';'                                                       
    ,';;;;''                                                        
   `:;;;''''                                                        
:::;;;;;''''                                                        
,;;;;;;;''''                                                        
  :';;:;;'+;                                                        
   :';;;;:                                                          
    :';;;                                                           
     ';;,                                                           
      ;;                                                            
      :;                                                            
      </pre>
    </a>
  </body>
</html>
